LW_USER_ONE=12345678
LW_PASS_ONE=553C69ED-1D9D-431D-BB49-3A5FFA904E2F

LW_USER_TWO=98765432
LW_PASS_TWO=37366558-A37C-40F8-9BF7-F7368F4D290A

SSH_KEY_PATH="/Users/admin/.ssh/id_rsa"
SSH_USER="root"
SSH_PARAMS="-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
